.header {
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  background-color: rgb(141, 140, 140);

  // .header__container

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .header__logo

  &__logo {
    display: flex;
    align-items: center;

    span {
      margin-left: 27px;
      font-size: 12px;
      line-height: 14px;
      color: #1d2f39;
      opacity: 0.3;
    }
  }

  // .header__logo-img

  &__logo-img {}

  // .header__menu

  &__menu {
    display: flex;
  }

  // .header__call

  &__call {
    display: flex;
    flex-direction: column;
    margin-left: 74px;
  }

  // .header__call-number

  &__call-number {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
  }

  // .header__call-link

  &__call-link {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    text-decoration: underline;
    color: #FFFFFF;
  }
}

.menu {

  // .menu__list

  &__list {
    display: flex;

  }

  // .menu__item

  &__item {
    margin-left: 48px;
  }

  // .menu__link

  &__link {
    font-size: 12px;
    line-height: 32px;
    color: #fff;
  }
}
